#letter {
  display: none;
}

.form-control#name {
  width: 30em;
}

.form-control#city {
  width: 30em;
}

.form-control#state {
  width: 30em;
}

.form-control#zip {
  width: 10em;
}

.card {
  width: 800px;
}

.form-control#country {
  width: 40em;
}

h1 {
  text-align: center;
}

#stamp {
  float: right;
  width: 150px;
}

.address-box p {
  align-content: center;
}

/* .vr {
  height: 300px;
  width: 10px;
} */
